body{
    background-color:skyblue;
    margin:0px;
    padding-left: 2%;
    padding-right: 2%;
}
#body-1{
    margin: 0px;
}
#header{
	
    background-color: slategray;
    padding-top: 15px;
    padding-bottom: 0.5px;
    font-weight: 50px;
    font-size: large;
    margin-top:-22px;
    color: white;
    border: 1px solid rgb(126, 124, 124);
    border-radius: 5px;
    box-shadow: 0 0 8px black;
	
}

#header-1{
    float: right;
}
li{
	padding-right: 20px;
	
}
#header-1 a{
    color: white;
}
#header-2{
    color: tomato;
}
#h3-i1{
    color: gray;
}
#header a::after{
	content: '';
	height: 2px;
	width: 0%;
	background: #E86347;
	display: block;
	transition: 0.5s ease-in-out;
}
#header a:hover::after{
	width: 100%;
     
}

.hero-btn{
	text-decoration: none;
	color:white;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	
}
.hero-btn:hover{
	color:#FF6347;
	cursor:pointer;
}


#header li{
    display: inline-block;
}
#header ul li a{
    padding-right: 5px;
    text-decoration: none;
}
#img-i1{
    width: 99%;
    height: 350px;
}
#footer{
    text-align: center;
    background-color: slategrey;
    padding: 10px;
    font-size: x-large;
    color: white;
    border-radius: 3px;
    border: 1px solid rgb(88, 86, 86);
}
#p1{
   
}
#tab{
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.13);
    margin-bottom: 0px;
    padding: 2px;;
}
#tab th, td, tr{
    padding: 10px;
    width:700px;
    height: 8px;
    margin-left:10%;
    margin-right:10%;
    position: center;
}
#p3{
    
    margin-top: 
}
#form{
	
    background-color: rgba(0, 0, 0, 0.2);
	margin: 10px 10%;
    padding:10%;
    border-radius: 5px;
    opacity: 0.95;
}
#name, #email, #website, #subject {
    border-radius: 7px;
    width: 100%;
    padding:10px 0;
	margin: 5px;
}
#form label{
    font-weight: 200;
    color: #fff;
    font-size: large;
	margin: 10px;
    
}
#form input{
    font-weight: 600;
    color:#000000;
    width: 100%;
	padding-left: 10px;
    
}
#message {
    border-radius: 7px;
    width: 100%;
    height: 70px;
}

.btn{
	background: #39b7dd;
	width: 98%;
	text-align: center;
	color:#fff;
	padding:15px;
	font-weight: 700;
	font-size: 25px;
	text-transform: uppercase;
	border-radius: 7px;
	
}
